<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagify | Login/Register</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

    <div class="logo flex justify-between px-2">
        <h1 class="font-bolder font-serif text-2xl">BAGIFY</h1>
        <div class="my-auto pt-2">
            <a href="/owners/login" class="text-white bg-black rounded-2xl px-3 py-1 font-medium">owners-login</a>
            <a href="/shop"
                class="font-semibold py-1 px-3 me-3 mt-2 rounded-2xl bg-slate-950 hover:bg-slate-700 text-white">Shop</a>
        </div>
    </div>
    <!-- flash message setup start -->
    <% if(error && error.length> 0) { %>
        <div class="absolute text-center top-0 left-1/2 px-2 transform -translate-x-1/2 rounded-b-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
        <% } %>
            <!-- flash message setup end -->

            <!-- container for 2 parts -->
            <div class="md:h-96 w-full flex flex-col md:flex-row justify-around items-center md:m-0 mt-28">

                <!-- create account part -->
                <div class="md:w-1/3 md:p-0 px-10">
                    <div class="ps-1">
                        <h2 class="text-3xl font-bold">Welcome to <span class="font-bolder text-sky-400">Bagify</span>
                        </h2>
                        <p class="tracking-tight font-medium text-slate-700">Create your account</p>
                    </div>
                    <div class="w-full">
                        <form action="/users/register" method="post">
                            <input type="text" name="fullname" placeholder="Fullname"
                                class="w-full bg-slate-200 m-1 p-2 rounded-sm">
                            <input type="text" name="email" placeholder="Email"
                                class="w-full bg-slate-200 m-1 p-2 rounded-sm">
                            <input type="text" name="password" placeholder="Password"
                                class="w-full bg-slate-200 m-1 mb-3 p-2 rounded-sm">
                            <button type="submit"
                                class="text-white font-normal bg-blue-500 px-4 py-1.5 m-1 rounded-3xl text-center">Create
                                Account
                            </button>
                        </form>
                    </div>
                </div>

                <!-- login part -->
                <div class="md:w-1/3 md:p-0 px-10 py-3">
                    <div class="ps-1">
                        <h2 class="text-2xl font-bold">Login Your Account</h2>
                    </div>
                    <div class="w-full">
                        <form action="/users/login" method="post">
                            <input type="text" name="email" placeholder="Email"
                                class="w-full bg-slate-200 m-1 p-2 rounded-sm">
                            <input type="text" name="password" placeholder="Password"
                                class="w-full bg-slate-200 m-1 mb-3 p-2 rounded-sm">
                            <button type="submit"
                                class="text-white font-normal bg-blue-500 px-4 py-1.5 m-1 rounded-3xl text-center">Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
</body>

</html>