<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagify | Login/Register</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

    <div class="logo flex justify-between px-2 relative z-10">
        <h1 class="font-bolder font-serif text-2xl">BAGIFY</h1>
        <a href="/owners/admin"
            class="font-semibold py-1 px-3 me-3 mt-2 rounded-2xl bg-slate-950 hover:bg-slate-700 text-white cursor-pointer">Shop</a>
    </div>
    <!-- flash message setup start -->
    <% if(error && error.length> 0) { %>
        <div class="absolute text-center top-0 left-1/2 px-2 transform -translate-x-1/2 rounded-b-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
        <% } %>
            <!-- flash message setup end -->

            <!-- login part -->
            <div class="w-full flex justify-center items-center h-screen absolute top-0">
                <div>
                    <div class="ps-1 mb-7">
                        <h2 class="text-3xl font-bold text-center">Owners Login</h2>
                    </div>
                    <div class="w-full text-center">
                        <form action="/owners/login" method="post">
                            <input type="text" name="email" placeholder="Email"
                                class="w-full bg-slate-200 m-1 p-2 rounded-sm">
                            <input type="text" name="password" placeholder="Password"
                                class="w-full bg-slate-200 m-1 mb-3 p-2 rounded-sm">
                            <button type="submit"
                                class="text-white font-semibold bg-blue-500 px-10 py-1 text-lg m-1 rounded-3xl text-center">Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
</body>

</html>